

*{margin:0; padding:0;}
.section{text-align: center; margin:auto;}
.section_container{max-width: 1200px;margin:auto;}


/* nav */

#navbar{display:flex; justify-content: space-between; align-items: center; padding:20px 12px 20px 12px; background-color:transparent; position: fixed; width: 100%; transition: all 300ms ease-in-out;}
#navbar.navbar--dark{background-color:#b386cf;}
.navbar_logo{font-size: 20px; color:white;}
.navbar_logo>i{color:white;}
.navbar_menu{display:flex; list-style: none;}
.navbar_menu_item{padding:8px 12px; color:white; text-decoration: none; font-size: 20px; cursor: pointer; margin-right: 20px;}
.navbar_menu_item:hover{border:2px white solid; border-radius: 4px;}



/* home */

#home{margin:0 auto; text-align: center; padding:50px; padding-top:120px; background: url(imgs/background.png) center/cover no-repeat;}
.home_avatar{width: 250px; height: 250px; border-radius: 50%; border: 3px solid white;}
.home_title{padding-top:50px; font-size: 40px;}
.home_description{font-size:20px; padding:10px; font-weight: 200;}
button{background-color: transparent; cursor: pointer; border:none; outline: none; font-size: 20px;}
.home_contect{border:1px white solid; padding:10px 10px; border-radius: 4px; margin-top:30px;}


/* About */

.About_majors{display:flex; justify-content:space-around; align-items: center;}
.About_title{font-size:40px; margin-bottom:20px; padding-top:40px;}
.major_logo{width: 170px; height: 170px; border-radius: 50%; border: 1px solid lightskyblue; margin-top:50px; margin-bottom:20px; color:lightskyblue;}
.major_logo:hover i{color:pink; transform: rotate(-30deg) scale(1.1);}
.major_title{font-size:30px; font-weight:1000;}
.major_logo{font-size:100px; line-height:170px; transition: all 300ms ease;}

.About_jobs{margin-top: 50px; padding-bottom:40px;}
.job{display:flex; align-items: center;}
.job_description{margin:0 16px; text-align: left;}
.job_period,.job_name{color:lightgray;}
.job_name{font-size:15px;}
.job_period{font-size:12px;}
.job>img{width:50px;border-radius: 50%;}

/* skill */

#skills{background-color: #ba87ce; padding:40px 0;}
.section_container>h1{font-size:40px;}
.skill_box{display:flex; background-color: lightgrey; color:white; margin:20px 0;}
.box_left{flex-basis: 60%; background-color: darkgray; padding:20px 40px;}
.box_right{flex-basis: 40%;}
.box_list{list-style: none;}
.tools{background-color: gray;}
.tools,.etc{padding:20px;}
.skill{margin-bottom: 32px;}
.skill_description{display:flex; justify-content: space-between;}
.skill_bar{width: 100%; height:3px; background-color: gray;}
.skill_value{height: 3px; background-color: orange;}

/* my work */

.section{padding-top:40px;}
.section>h1{font-size:40px;}
.section>h1>h3{padding-top:8px;}
.my_Worklist{padding:40px;}
.category_btn{border:1px solid darkgray; padding:8px 45px; border-radius: 4px; font-size: 12px;}
.category_btn.active,.category_btn:hover{background-color:#ba87ce; color:white;}
.category_count{color:orange; border-radius: 50%; color:white; width: 24px; height: 24px; display:inline-block; line-height: 24px; position: relative; top:-20px; left:4px; opacity: 0; transition: all 300ms ease;}
.category_btn.active .category_count,
.category_btn:hover .category_count{opacity: 1; top:0;}
 

.work_project{display:flex; justify-content: center; padding-bottom: 50px;}
.project{width:300px; height:300px; margin:2px; position: relative; display:flex; justify-content: center; align-items: center; background-color: lightgray; padding:0 8px;}
.project>img{max-width: 100%; max-height: 100%;}
.project_description{position: absolute; top:0; left: 0; background-color: black; width: 100%; height: 100%; opacity:0; color:white; display:flex; justify-content: center; flex-direction: column; transition: all 300ms ease; transform: translateY(10px);}
.project_description h3::after{content:''; display:block; width: 25px; height: 2px; left:50%; margin-left: -12px; margin-top: 8px; background-color: white; position: relative; margin-bottom:8px;}
.project:hover .project_description{opacity: 0.8; transform: translateY(0px);}

/* contact */
#contact{ background-color: #ba87ce; padding:40px;}
.contact_title,.contact_email{color:white;}
.contact_links,.contact_rights{color: white;}

.contact_links i:hover{transform: scale(1.1); transition: all 300ms ease;}
.contact_title{margin:12px 0;}
.contact_links{margin:24px 0; font-size: 50px;}


.navbar_toggle-btn{display:none;}

@media screen and (max-width:768px){
    .navbar_toggle-btn{display:inline-block; position: absolute; top:20px; right:10px; font-size:20px; color:white;}
     #navbar{flex-direction: column; align-items: flex-start;}
     .navbar_menu{flex-direction: column; text-align: center; width: 100%; display:none;}
     .About_majors{flex-direction: column;}
     .skill_box{flex-direction: column;}
     .box_right{padding-bottom:20px;}
     .project{flex-grow:1;}
}